*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 0,05em;
    border: 1px solid black;
    border-spacing: ;
}

header{
    background-color: #2B2B2B;
    color: #ffffff;
    padding: 15px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 7px solid #FFC107; 
}

.bot1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    text-align: center;
    color: #000000;
    border: none;
    background-color: yellow;
    margin: 5px 1px;
    cursor: pointer;
    text-align: center;
    padding: 4px 25px;
    font-size:small;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid black;
    
}

.bot2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    text-align: center;
    color: #000000;
    border: none;
    background-color: yellow;
    margin: 5px 1px;
    cursor: pointer;
    text-align: center;
    padding: 4px 25px;
    font-size:small;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid black;
    
}

.BemVindo{
    text-align: center;
    padding: 10px;
}

h2{
    text-align: center;
}